*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    height: 100vh;
    width: 100vw;
}
#wrapper{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, #654ea3, #eaafc8);
}
.container{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    max-width: 300px;
    width: 100%;
    box-shadow: 1px 1px 16px #212121;
    padding: 1.5rem;
    border-radius: 10px;
    background:linear-gradient(to left, #E9E4F0,#D3CCE3);
}
.container input{
    padding: 0.5rem 1rem;
    font-size: 15px;
    outline: none;
    border-radius: 5px;
    border: 1px solid #000;
}
.container button{
    margin-top: 2rem;
    padding: 0.5rem;
    background: red;
    color: #fff;
    border: none;
    border-radius: 8px;
    font-size: 18px;
    box-shadow: 2px 2px 18px #000;
    transition: 1s ease;
}
.container button:hover{
    background: #000;
}
.errorMessage{
    color: red;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 14px;
    margin-top: -6px;
}